{% extends "::blog/page/1column.html.twig" %}

{% block body %}
    <h1>Congratulation!</h1>
    <span>You just create a new post</span>
    <a href="{{ url('demos_blog_list') }}">return to post list</a>
{% endblock %}
